/**********************************************************************/
/* global page attributes                                             */
/**********************************************************************/
body {
     	margin: 10px 50px 10px 50px;
	background-color: #DDDDDD;
	font-family: "Bitstream Vera Sans",Verdana,sans-serif;
}

img {
	border-width: 0px;
	vertical-align: middle;
}
    
hr {
	width: 95%;
}

span.underline, span.accel {
	text-decoration: underline;
}

div#page {
	margin: 0px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
	background-position: top right;
	background-image: url(%22images\team.gif%22);
	background-repeat: no-repeat;
}

div.navheader {
	margin: 20px 0px 0px 0px;
}

p.copyright {
	position: absolute;
	top: 46px;
	left: 75px;
	color: gray;
	font-size: x-small;
}

div.navfooter {
	margin: 0px 0px 10px 0px;
}

div.lastupdated {
	color: gray;
	font-size: x-small;
	margin: 10px;
	margin-top: 0px;
	text-align: right;
}

/**********************************************************************/
/* titlepage attributes                                               */
/**********************************************************************/
div.titlepage h1.title {
	color: #2233CC;
	font-style: italic;
	padding: 3px;
	text-align: center;
	margin: 20px 0px 0px 0px;
}

div.titlepage h2.title, div.titlepage h3.title {
	border-bottom: 1px solid #cccccc;
	margin: 20px 0px 0px 0px;
}

div.titlepage h2.subtitle {
	color: gray;
	font-size: normal;
	padding: 2px;
	text-align: center;
	margin: 0px;
}

div.titlepage p.edition {
	text-align: center;
}

div.titlepage p.pubdate {
	text-align: center;
	text-decoration: underline;
}

div.titlepage div.abstract {
	color: black;
	padding: 0px 100px 0px 100px;
	font-size: medium;
	margin: 0px;
	text-align: center;
}

div.titlepage div.mediaobject {
	position: absolute;
	top: 120px;
	left: 120px;
}

/**********************************************************************/
/* table of contents attributes                                       */
/**********************************************************************/

div.toc {
	padding: 0px 20px 0px 60px;
	vertical-align: middle;
}

div.toc p b {
	font-size: medium;
	text-decoration: underline;
}

div.toc a {
	text-decoration: none;
	color: black;
	padding-left: 16px;
}

div.toc a:hover {
	color: gray;
	background: white url(%22images\go.gif%22) left center no-repeat; 
}

div.toc span.refentrytitle {
	font-weight: bold;
}

div.toc dt, div.toc dl {
	margin: 1px; /* for MacOS X Safari */
}

/**********************************************************************/
/* chapter pages attributes                                           */
/**********************************************************************/

div.chapter {
	padding: 0px 25px 0px 25px;
}

div.section, div.sect1, div.sect2, div.sect3 {
	padding: 0px 0px 0px 10px;
}


div#page h1#title {
	margin: 10px 20px 10px 20px;
	border-bottom: 10px solid black;
}

pre.programlisting {
	margin: 10px 20px 10px 20px;
	font-family: monospace;
	font-weight: bold;
	font-size: 95%;
	border-width: 1px;
	border-style: solid;
	border-color: #333333;
	padding: 10px 20px 10px 20px;
	background-color: #FFFFEF;
}

div.equation, div.informalfigure, div.figure, div.table, div.informaltable {
	text-align: center;
	padding: 5px;
}

div.chapter p, div.sect1 p, div.sect2 p, div.sect3 p {
	margin: 10px 5px 10px 10px;
}

div.table table, div.informaltable table {
	margin-left: auto;
	margin-right: auto;
}

td.rowhead {
	font-weight: bold;
}
